.wrapper {
  display: flex;
  flex-flow: row wrap;
  margin: 5px 0px 5px 0px;
  background-color: lightgray;
}

/* We tell all items to be 100% width, via flex-basis */
.wrapper > * {
  flex: 1 100%;
}

.title {
  margin: 10px;
}
.set {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.change {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Medium screens */
@media all and (min-width: 600px) {
  /* We tell both sidebars to share a row */
  .set { flex: 1 auto; }
  .change { flex: 1 auto; }
}

/* Large screens */
@media all and (min-width: 800px) {
  /* We invert order of first sidebar and main
   * And tell the main element to take twice as much width as the other two sidebars 
   */
   .set { order: 1; text-align: center; }
  .title { order: 2; flex: 3 auto; text-align: center; }
  .change { order: 3; text-align: center; }
}